/* Required for Twitter Bootstrap's menu */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 980px) and (min-width: 768px) {
	body {
		padding-top: 0px;
	}
}

@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Shared layout and menus */
#leftMenu {
  padding-top: 40px;
}

footer {
	margin-top: 40px;
	text-align: center;
}

.menu h4 {
  font-weight:normal;
  font-size:145%;
  margin-top:25px;
  margin-bottom:15px;
}

.menu h4.first {
  margin-top:0px;
}

p.header {
	font-size: 1.2em;
}

h1, h2, h3, h4 {
  font-family: Orienta, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2, h3, h4 {
  font-weight: normal;
}

#contentMain h2 {
  font-size:180%;
  line-height:1.2em;
  margin-top:20px;
  font-weight:bold;
}

#contentMain h3 {
  font-size:140%;
  line-height:1.2em;
  margin-top:15px;
}

#contentMain h4 {
  font-size:125%;
  line-height:1.2em;
}

#contentMain li {
  margin-top:10px;
}

/* Homepage */
#contentMain .hpBanner li {
  margin-top:3px;
  margin-bottom:0px;
}
div#sponsors a {
	display: block;
	padding: 5px 0px;
}
#newsContent h4 {
  font-size:115%;
}
ul#newsContent {
  padding-left:0px;
  margin-left:0px;
  list-style:none;
}
#newsContent li {
  padding-left:0px;
  margin-left:0px;
}

/* Page with foundation goals & member list */
.missionStatement h1 {
  font-size:300%;
  margin-bottom:10px;
}
#memberList li {
  margin-top: 3px;
  margin-bottom: 0px;
}

/* ==========================================================================
   Testimonials page
   ========================================================================== */

.testimonials h3 {
}

.testimonials p {
  margin-left:200px;
  margin-right:170px;
}

.testimonials ul {
  margin-left:200px;
  margin-right:170px;
  list-style-type:disc;
}

.testimonials blockquote {
  float:left;
  width:200px;
  padding:0px;
  margin:0px;
  border-left-style:none;
  color:#606060;
}

.testimonials blockquote p {
  padding:0px;
  margin:0px 10px 0px 0px;
  font-style:italic;
}

.testimonials hr {
  clear:both;
}

.testimonials ol {
  float:right;
  width:150px;
  margin:0px;
  padding:0px;
  color:#606060;
  font-size:85%;
  font-style:italic;
}

.testimonials ol strong {
  font-size:120%;
  font-weight:normal;
}

div#contentMain.testimonials ol li {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

div#contentMain.testimonials ul li {
  margin:0px 0px 0px 20px;
  padding:0px;
}

.testimonials .keywords {
  display: none;
}

@media screen and (max-width: 600px) {
  .testimonials blockquote {
    float:none;
    width:auto;
  }
  .testimonials ol {
    float:none;
    width:auto;
    margin:5px 0px 5px 0px;
  }
  .testimonials p {
    margin-left:0px;
    margin-right:0px;
  }
}

.contributeTestimonials {
  padding: 30px;
  margin: 30px;
}

.contributeTestimonials h1 {
  font-size:180%;
  margin:10px 10px 10px 0px;
}

.contributeTestimonials p {
  font-size:100%;
  margin:0px 0px 6px 0px;
  line-height:normal;
  padding:0px;
}


