/* ======
   Shared
   ====== */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#main {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* This use of padding and margin works around a problem with the navbar sitting over anchors when they are clicked */
.anchor {
    padding-top: 70px;
    margin-top: -70px;
}

.push {
    height: 60px;
}

blockquote {
    font-size: 20px;
}

.dropdown-menu {
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

h1 {
    padding-top: 100px;
    margin-top: -70px;
}

h2 {
    padding-top: 90px;
    margin-top: -70px;
}

h3 {
    font-size: 24px;
    padding-top: 80px;
    margin-top: -70px;
}

h4 {
    font-size: 20px;
    padding-top: 80px;
    margin-top: -70px;
}

h5 {
    font-size: 18px;
    padding-top: 80px;
    margin-top: -70px;
}

/* Navbar */
.navbar-default {
    background-color: #028fcc;
    box-shadow: 0 2px 2px rgba(50,50,50,0.15);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        background-color: rgba(0,0,0,.2);
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Rajdhani', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: rgba(0,0,0,.2);
        color: #fff;
    }

nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-default .navbar-toggle {
    border-color: whitesmoke;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: whitesmoke;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        border-color: white;
        background-color: transparent;
    }

@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: whitesmoke;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: white;
            background-color: transparent;
        }
}

.nav > li > a {
    padding: 10px 13px;
}

/* Force Bootstrap's table styles */
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    table > caption + thead > tr:first-child > th,
    table > colgroup + thead > tr:first-child > th,
    table > thead:first-child > tr:first-child > th,
    table > caption + thead > tr:first-child > td,
    table > colgroup + thead > tr:first-child > td,
    table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    table > tbody + tbody {
        border-top: 2px solid #ddd;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        border: 1px solid #ddd;
    }

    table > thead > tr > th,
    table > thead > tr > td {
        border-bottom-width: 2px;
    }

    table > tbody > tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

/* Footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
}

#footer {
    border-top: 1px solid #ddd;
    padding-top: 60px;
    margin-bottom: 30px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
}

/* ====
   Home
   ==== */

/* Jumbotron */
.jumbotron {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255,255,255,0.6);
    margin-bottom: 0;
    padding-bottom: 0;
}

    .jumbotron h1 {
        font-size: 50px;
    }

    .jumbotron p {
        margin-bottom: 5px;
        font-size: 19px;
    }

    .lead, .jumbotron .lead {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 40px;
    }

    .jumbotron .lead {
        font-size: 26px;
        font-family: 'Rajdhani', sans-serif;
    }
    
    .jumbotron

#jumbotron {
    width: 90%;
    margin: 0 auto;
}

#social-btns {
    margin-bottom: 0px;
    float: left;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
}
.btn-social {
    background-color: #ccc;
}

    .btn-circle img {
        margin-top: 3px;
        margin-left: -3px;
    }

#logo {
    margin: 0 auto;
    max-width: 256px;
}

#download-btn {
    display: inline-block;
    padding: 20px 30px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
    border: solid #FFF 2px;
    font-size: 20px;
    background-color: transparent;
    -webkit-transition: all ease-in .15s;
    -moz-transition: all ease-in .15s;
    -o-transition: all ease-in .15s;
    transition: all ease-in .15s;
    width: auto;
}

    #download-btn:hover {
        background-color: white;
        color: black;
    }

.btn-menu {
    margin-top: 10px;
}

.home-section {
    padding: 30px 10px;
    border-bottom: 1px solid #ddd;
}

.featured {
    max-width: 80%;
}

.nav-tabs-big > li {
    font-size: 22px;
    font-weight: 300;
    padding: 0;
    width: 33.33%;
    text-align: center;
}

    .nav-tabs-big > li a {
        padding: 15px;
        color: black;
        font-size: 30px;
    }

        .nav-tabs-big > li.active a, .nav-tabs-big > li a:hover {
            border: none;
            border-bottom: 2px solid #c4c4c4;
        }

    .nav-tabs-big > li.active > a:hover {
        background: #eee;
        border: none;
        border-bottom: 2px solid #c4c4c4;
    }

.tab-pane .row {
    padding: 20px;
}

.hljs {
    background: #f5f5f5;
}

pre {
    font-size: 16px;
}

.light-gray {
    background: #eef1f5;
}

.section-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

#news-list {
    width: 75%;
}

    #news-list > li {
        background-color: #eef1f5;
    }

#news-rss > img {
    vertical-align: baseline;
}

.list-group-item {
    border: none;
    padding: 5px 0;
}

.list-group-item-heading {
    padding-top: 5px;
}

.carousel-control {
    width: 7%;
    color: #eef1f5;
    opacity: 1.0;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}

.carousel-img {
    margin: 20px auto;
    height: 100px;
}

#sponsors-carousel {
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.menu h4 {
    color: #888;
    margin-top: 30px;
}

.menu ul, .menu div {
    margin-top: 20px;
}

    .menu ul li, .menu div a {
        margin-bottom: 9px;
    }

.testimonial {
    color: black;
}

    .testimonial:hover {
        text-decoration: none;
    }

@media screen and (max-width: 768px) {

    .jumbotron .lead {
        font-size: 25px;
    }

    #sponsors-carousel, .carousel-control {
        height: 240px;
    }
}

/* Footer */
#footer-arrow {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 40px;
}

    #footer-arrow img {
        padding-top: 15px;
    }

/* ============
   Testimonials
   ============ */

.testimonial-anchor {
    padding-top: 50px;
    margin-top: -50px;
}

.testimonials p {
    margin-left: 200px;
    margin-right: 170px;
}

.testimonials ul {
    margin-left: 200px;
    margin-right: 170px;
    list-style-type: disc;
}

.testimonials blockquote {
    float: left;
    width: 200px;
    padding: 0px;
    margin: 0px;
    border-left-style: none;
    color: #606060;
}

    .testimonials blockquote p {
        padding: 0px;
        margin: 0px 10px 0px 0px;
        font-style: italic;
        font-size: 18px;
    }

.testimonials hr {
    clear: both;
}

.testimonials ol {
    float: right;
    width: 150px;
    margin: 0px;
    padding: 0px;
    color: #606060;
    font-size: 85%;
}

    .testimonials ol strong {
        font-size: 120%;
        font-weight: normal;
    }

div#contentMain.testimonials ol li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

div#contentMain.testimonials ul li {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

.testimonials .keywords {
    display: none;
}

@media (max-width: 600px) {
    .testimonials blockquote {
        float: none;
        width: auto;
    }

    .testimonials ol {
        float: none;
        width: auto;
        margin: 5px 0px 5px 0px;
    }

    .testimonials p {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.calloutBox {
    padding: 30px;
    margin: 30px;
}

.calloutBox h1 {
    font-size: 150%;
    margin: 10px 10px 10px 0px;
}

.calloutBox p {
    font-size: 80%;
    margin: 0px 0px 6px 0px;
    line-height: normal;
    padding: 0px;
}

a[href^="http://"]:after, a[href^="https://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  padding-left: 7px;
}

a[href^="http://foundation.fsharp.org"]:after, 
a[href^="http://fsharp.org"]:after, 
a[href^="https://github.com/fsharp"]:after, 
a[href^="https://twitter.com/fsharporg"]:after, 
a[href^="http://www.facebook.com/fsharp.org"]:after, 
a.no_icon:after {
  content:"" !important;
  padding-left: 0;
}

