@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand-dark: #378bba;
    --color-brand-light: #30b9db;
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-heading: "Roboto Flex", sans-serif;
}



button {
    @apply cursor-pointer
}

h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
}

@keyframes loading-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: -200% 50%;
    }
  }
  
#loading-strip {
    @apply h-1 fixed left-0 right-0 transition-opacity top-12 w-full bg-none;
    background: linear-gradient(90deg, rgba(251, 191, 36, 0) 0%, rgba(251, 191, 36, 1) 50%, rgba(251, 191, 36, 0) 100%);
    background-repeat: repeat-x;
    background-size: 200% 100%;
    
    animation: loading-animation 2s infinite linear;
}

.htmx-indicator{
    opacity:0;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}

/* Fix so links to anchor tags don't scroll the heading under the navbar */
:target {
    margin-top: -48px;
    border-top: 92px solid transparent;
    background-clip: padding-box;
  }

.nav-item {
    @apply md:relative;

    button {
        @apply text-sm px-3 py-2 rounded transition-colors;

        &[aria-expanded="true"] {
            @apply bg-black/10 shadow-inner;

        }

        &.hero-button {
            @apply text-2xl;
        }
    }
   
}


[x-cloak] { display: none !important; }

.hero-pattern {
    background-color: #378bba;
background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2330b9db' fill-opacity='0.57' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-attachment: fixed;
}

div[role="menu"] {
    @apply  md:absolute mt-1 md:right-0 z-10 w-68 md:origin-top-right divide-y divide-gray-200 dark:divide-slate-600 text-slate-200 rounded-md bg-white dark:bg-slate-800 ring-1 shadow-lg ring-black/5 focus:outline-hidden;

    div[role="none"] {
        a[role="menuitem"] {
            @apply block px-4 py-2 text-sm text-slate-700 dark:text-slate-200 hover:dark:text-slate-50 hover:text-gray-900 hover:bg-black/5 hover:dark:bg-white/5;

            i.fa-brands, i.fa-solid {
                @apply mr-1 w-4 text-center text-brand-dark/70 dark:text-brand-light/70  group-hover:text-brand-dark group-hover:dark:text-brand-light;
            }

            span.badge {
                @apply bg-slate-100 dark:bg-slate-900 group-hover:dark:bg-slate-700 group-hover:bg-slate-300 ml-1 inline-block text-slate-400 dark:text-slate-600 group-hover:text-slate-500 text-xs font-medium px-2.5 py-0.5 rounded-sm;
            }
        }
    }
}

a[href^="http"]::after {
    content: "\f35d";
    font-family: "Font Awesome 6 Free";
    font-weight: normal;
    font-style: normal;
    font-size: .6em;
    vertical-align: 0.1rem;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    padding-left: 0.4em;
}

a[href^="https://fsharp.org"]::after {
    content: "";
    background-image: none;
}


.tilt-me {
    transform: rotate(-30deg);
}

/* 
.content-container p,
.content-container li {
    max-width: 44em;
} */

   



