* { 
  margin:0px; padding:0px; 
}

/* Overall style */
body {
  font-size: 80%;
  font-family: tahoma, geneva, sans-serif;
  background: #e0e0e0;
}
#outer1 {
  background: url(img/right-gradient.png) repeat-y right;
  max-width:1000px;
  min-width:300px;
  margin:0px auto 0px auto;
}
#outer2 {
  background: url(img/left-gradient.png) repeat-y left;
  margin:0px 10px 0px 0px;
}
#inner {
  background: white;
  margin:0px 0px 0px 10px;
}

/* Main layout elements in the page */
#logo {
  padding:30px 30px 10px 20px;
  border-style:none;
}
h1 {
  margin-left:250px; 
  padding-top:50px;
  height:110px;
  font:240% Orienta,Tahoma,geneva,sans-serif;
}
#content {
  clear:both;
}

#menu-left {
  float:left;
  width:220px;
  margin:0px 10px 50px 0px;
  padding-left:20px;
}
#menu-right {
  float:right;
  width:200px;
  margin:0px 20px 50px 30px;
}
#main1 {
  margin-left:250px;
  margin-right:250px;
}
#main2 {
  margin-left:250px;
  padding-bottom:40px;
  margin-right:20px;
}

/* Menu design */
.menu h3 { 
  font:140% Orienta,Tahoma,geneva,sans-serif; 
  margin:20px 0px 10px 0px;
}
.menu .first {
  margin-top:0px;
}
#menu-left li {
  margin: 2px 0px 2px 30px;
}

#menu-right li {
  margin: 5px 0px 5px 25px;
}
#menu-right p {
  margin:5px 0px 10px 0px;
}
.menu strong {
  color:#303030;
}

/* Footer design */
#footer {
  padding:0px 0px 20px 0px;
  font-size:85%;
  text-align:center;
}

/* Main design */
.main p {
  margin:0px 0px 10px 0px;
}

.main li {
  margin: 5px 0px 5px 20px;
}

.main h2 { 
  font:170% Orienta,Tahoma,geneva,sans-serif; 
  margin:30px 0px 15px 0px;
}
.main .first { 
  margin-top:0px; 
}

.main h3 { 
  font:130% Orienta,Tahoma,geneva,sans-serif; 
  margin:20px 0px 20px 0px;
}
.main h2 img {
  border-style:none;
  margin-left:5px;
}
.main li h3 { 
  font:120% tahoma, geneva, sans-serif; 
  margin:0px 0px 5px 0px;
}
.main .supporter img {
  border-style:none;
}
.main .supporter {
  float:left;
  height:50px;
  overflow:hidden;
  margin:10px 15px 10px 15px;
  text-align:center;
}
.main .s250 {
  width:250px;
}
.main .s200 {
  width:200px;
}
.main .s150 {
  width:150px;
}
.main .spacer {
  clear: both;
}

a:link, a:visited {
  color:#1153ad;
}
