<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: add a unique meta description to each page -->
    <meta name="description" content="" />
    <meta name="keywords" content="F#, FSharp, F# Programming" />

    <title>{{ page.title }}</title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' media="screen" />
    <link rel="stylesheet" href="/css/main.css" media="screen" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Required for FB Share button -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><a href="/about/index.html">About F#</a></li>
                       <li><a href="/about/learning.html">Learning F#</a></li>
                       <li><a href="/about/index.html#documentation">Documentation</a></li>
                       <li><a href="/specs/language-spec/">Language spec</a></li>
                       <li><a href="/testimonials/">Testimonials</a></li>
                       <li><a href="/videos/1">Videos</a></li>
                     </ul>
                   </li>

                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Install <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><a href="/use/mac/">F# on Mac</a></li>
                       <li><a href="/use/linux/">F# on Linux</a></li>
                       <li><a href="/use/windows/">F# on Windows</a></li>
                       <li><a href="/use/android/">F# on Android</a></li>
                       <li><a href="/use/ios/">F# on iOS (iPhone/iPad)</a></li>
                       <li><a href="/use/html5/">F# on JS/HTML5</a></li>
                       <li><a href="/use/gpu/">F# on GPU</a></li>
                       <li><a href="/use/freebsd/">F# on FreeBSD</a></li>
                     </ul>
                   </li>

                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="http://fsharpforfunandprofit.com">Enterprise Programming</a></li>
                        <li><a href="/guides/data-science">Data Science</a></li>
                        <li><a href="/guides/web">Web Programming</a></li>
                        <li><a href="/guides/apps-and-games">Mobile Apps and Games</a></li>
                        <li><a href="/guides/machine-learning">Machine Learning</a></li>
                        <li><a href="/guides/cloud">Cloud Programming</a></li>
                        <li><a href="http://www.tryfsharp.org/Learn/financial-computing">Financial Computing</a></li>
                        <li><a href="/guides/math-and-statistics">Math and Statistics</a></li>
                        <li><a href="/guides/data-access">Data Access</a></li>
                        <li><a href="/guides/mac-linux-cross-platform">Mac, Linux and Cross-Platform</a></li>
                     </ul>
                   </li>

                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contributing <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><a href="/community/projects/">F# community projects</a></li>
                       <li><a href="http://c4fsharp.net/groups.html">Join user groups</a></li>
                       <li><a href="http://c4fsharp.net/events.html">Attend events</a></li>
                       <li><a href="http://twitter.com/#fsharp">F# on Twitter</a></li>
                       <li><a href="http://groups.google.com/group/fsharp-opensource">F# open forum</a></li>
                       <li><a href="http://fpish.net/blogs/Some/1/f~23/0">F# blogs</a></li>
                       <li><a href="https://github.com/fsharp/">F# on GitHub</a></li>
                       <li><a href="http://www.codeplex.com/site/search?query=&sortBy=Relevance&tagName=%2cF%23%2c">F# on CodePlex</a></li>
                       <li><a href="http://www.fssnip.net/">F# code snippets</a></li>
                       <li><a href="http://stackoverflow.com/questions/tagged/f%23">Ask on StackOverflow</a></li>
                       <li><a href="http://codereview.stackexchange.com/questions/tagged/f%23">F# Code Review</a></li>
                       <li><a href="http://webchat.freenode.net/?channels=%23%23fsharp">F# on IRC</a></li>
                     </ul>
                   </li>


                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                       <li><a href="/training">Training</a></li>
                       <li><a href="/consulting">Consulting</a></li>
                        <li><a href="/teaching/index.html">Why teach F#</a></li>
                        <li><a href="/teaching/index.html#online_teaching_and_learning">Online learning</a></li>
                        <li><a href="/teaching/index.html#video_lectures">Video lectures</a></li>
                        <li><a href="/teaching/index.html#textbooks_for_teaching_f">Textbooks for F#</a></li>
                        <li><a href="/teaching/index.html#lectures_and_course_material">Lecture materials</a></li>
                        <li><a href="http://c4fsharp.net/#fsharp-coding-dojos">Coding dojos</a></li>
                        <li><a href="/teaching/research.html">Academic publications</a></li>
                     </ul>
                   </li>

                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Foundation <b class="caret"></b></a>
                      <ul class="dropdown-menu">

                       <li><a href="/foundation.html">Mission statement</a></li>
                       <li><a href="/foundation.html#funding">Funding</a></li>
                       <li><a href="/foundation.html#founding_members">Members</a></li>
                       <li><a href="/technical-groups">Affiliated technical groups</a></li>
                       <li><a href="http://fsharp.github.io">F# Open Engineering Group</a></li>
                       <li><a href="/foundation.html#contact">Contact</a></li>
                     </ul>
                   </li>

                </ul>
        </div>
        </div>
    </nav>

    <div class="container" id="main">
        <div class="row">
            <div class="col-sm-3">
                <a href="/"><img src="/img/logo.png" id="logo" alt="F# logo" class="img-responsive" /></a>
                <div class="container">
                   <div class="row">
                     <div class="col-xs-12">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-xs-6">
                      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="fsharporg" data-related="fsharporg" data-hashtags="fsharp">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                     </div>
                     <div class="col-xs-6">
                       <a href="https://twitter.com/fsharporg" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
                       <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                     </div>
                   </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="page-header">
                    <h1>{{ page.headline }}</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                {{ content }}
            </div>
            <div class="col-sm-3 menu col-sm-pull-9" id="leftMenu">
                <h4 class="first">About</h4>
                <ul>
                    <li><a href="/about/index.html">About F#</a></li>
                    <li><a href="/about/learning.html">Learning F#</a></li>
                    <li><a href="/videos/1">Watch F# videos</a></li>
                    <li><a href="http://fsharpforfunandprofit.com/">Development guide</a></li>
                    <li><a href="/about/index.html#documentation">Documentation</a></li>
                    <li><a href="/specs/language-spec/">Language spec</a></li>
                    <li><a href="/testimonials/">Testimonials</a></li>
                </ul>
                <h4>Getting F#</h4>
                <ul>
                    <li><a href="/use/mac/">F# on Mac</a></li>
                    <li><a href="/use/linux/">F# on Linux</a></li>
                    <li><a href="/use/windows/">F# on Windows</a></li>
                    <li><a href="/use/android/">F# on Android</a></li>
                    <li><a href="/use/ios/">F# on iOS (iPhone/iPad)</a></li>
                    <li><a href="/use/html5/">F# on JS/HTML5</a></li>
                    <li><a href="/use/gpu/">F# on GPU</a></li>
                    <li><a href="/use/freebsd/">F# on FreeBSD</a></li>
                </ul>
                <h4>Guides</h4>
                <ul>
                    <li><a href="http://fsharpforfunandprofit.com">Enterprise Programming</a></li>
                    <li><a href="/guides/data-science">Data Science</a></li>
                    <li><a href="/guides/web">Web Programming</a></li>
                    <li><a href="/guides/apps-and-games">Apps and Games</a></li>
                    <li><a href="/guides/machine-learning">Machine Learning</a></li>
                    <li><a href="/guides//cloud">Cloud Programming</a></li>
                    <li><a href="http://www.tryfsharp.org/Learn/financial-computing">Financial Computing</a></li>
                    <li><a href="/guides/math-and-statistics">Math and Statistics</a></li>
                    <li><a href="/guides/data-access">Data Access</a></li>
                    <li><a href="/guides/mac-linux-cross-platform">Cross-Platform</a></li>
                </ul>

                <h4>Contributing</h4>
                <ul>
                    <li><a href="/community/projects/">F# community projects</a></li>
                    <li><a href="http://c4fsharp.net/groups.html">Join user groups</a></li>
                    <li><a href="http://c4fsharp.net/events.html">Attend events</a></li>
                    <li><a href="http://twitter.com/#fsharp">F# on Twitter</a></li>
                    <li><a href="http://groups.google.com/group/fsharp-opensource">F# open forum</a></li>
                    <li><a href="http://fpish.net/blogs/Some/1/f~23/0">F# blogs</a></li>
                    <li><a href="https://github.com/fsharp/">GitHub</a> and <a href="http://www.codeplex.com/site/search?query=&sortBy=Relevance&tagName=%2cF%23%2c">CodePlex</a></li>
                    <li><a href="http://www.fssnip.net/">F# code snippets</a></li>
                    <li><a href="http://stackoverflow.com/questions/tagged/f%23">Ask on StackOverflow</a></li>
                    <li><a href="http://codereview.stackexchange.com/questions/tagged/f%23">F# Code Review</a></li>
                    <li><a href="http://webchat.freenode.net/?channels=%23%23fsharp">F# on IRC</a> (<a href="http://ircbrowse.net/day/fsharp/today">History</a>)</li>
                </ul>

                <h4>Training</h4>
                <ul>
                    <li><a href="/training">F# training</a></li>
                    <li><a href="/consulting">F# consultancies</a></li>
                </ul>

                <h4>Teaching</h4>
                <ul>
                    <li><a href="/teaching/index.html">Why teach F#</a></li>
                    <li><a href="/teaching/index.html#online_teaching_and_learning">Online learning</a></li>
                    <li><a href="/teaching/index.html#video_lectures">Video lectures</a></li>
                    <li><a href="/teaching/index.html#textbooks_for_teaching_f">Textbooks for F#</a></li>
                    <li><a href="/teaching/index.html#lectures_and_course_material">Lecture materials</a></li>
                    <li><a href="http://c4fsharp.net/#fsharp-coding-dojos">Coding dojos</a></li>
                    <li><a href="/teaching/research.html">Academic publications</a></li>
                </ul>

                <h4>Foundation</h4>
                <ul>
                    <li><a href="/foundation.html">Mission statement</a></li>
                    <li><a href="/foundation.html#funding">Funding</a></li>
                    <li><a href="/foundation.html#founding_members">Members</a></li>
                    <li><a href="/technical-groups">Affiliated technical groups</a></li>
                    <li><a href="http://fsharp.github.io">F# Open Engineering Group</a></li>
                    <li><a href="/foundation.html#contact">Contact</a></li>
                </ul>
                 <p></p><a href="https://twitter.com/fsharporg" class="twitter-follow-button" data-show-count="false" data-show-user-name="false">Follow @fsharporg</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                       </p>

            </div>
        </div>

        <div class="container text-center">
            <footer>
                <p>&copy; 2014 F# Software Foundation</p>
                <p>Maintained by the F# community on <a href="https://github.com/fsharp/fsfoundation" target="_blank">GitHub</a>.</p>
            </footer>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/main.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35753329-2']);
        _gaq.push(['_setDomainName', 'fsharp.org']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
