<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="script.js" type="text/javascript"></script>
</head>
<body>
<div id="outer1"><div id="outer2"><div id="inner">

<div id="menu-left" class="menu">
<a href="index.html"><img src="img/logo.png" id="logo" alt="F#. Part of the program." /></a>
 
<h3>About</h3>
<ul>
  <li>About F#</li>
  <li><a href="http://msdn.microsoft.com/library/vstudio/dd233154.aspx">Documentation</a></li>
  <li><a href="http://research.microsoft.com/en-us/um/cambridge/projects/fsharp/manual/spec.pdf">Language specification</a></li>
  <li>Development guide</li>
  <li><a href="http://preview.tryfsharp.org/Learn">Learning F#</a></li>
</ul>

<h3>Getting F#</h3>    
<ul>
  <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpMac">F# on Mac</a></li>
  <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpLinux">F# on Linux</a></li>
  <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpWindows">F# on Windows</a></li>
  <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpAndroid">F# on Android</a> and <a href="http://fsxplat.codeplex.com/wikipage?title=FSharpIOS">iOS</a></li>
  <li><a href="http://fsxplat.codeplex.com/">F# on HTML5, GPGPU<br /> and more...</a></li>
</ul>

<h3>Community</h3>
<ul>
  <li><a href="http://groups.google.com/group/fsharp-opensource">F# open source list</a></li>
  <li><a href="http://fpish.net/blogs/Some/1/f~23/0">News from F# blogs</a></li>
  <li><a href="https://github.com/fsharp/">GitHub</a> and <a href="http://www.codeplex.com/site/search?query=&sortBy=Relevance&tagName=%2cF%23%2c">CodePlex</a> projects</li>
  <li><a href="http://www.fssnip.net/">F# Snippets</a></li>
  <li><a href="http://stackoverflow.com/questions/tagged/f%23">Ask on StackOverflow</a></li>
  <li><a href="http://twitter.com/#fsharp">Join Twitter conversations</a></li>
  <li>Join User Groups</li>
</ul>

<h3>Foundation</h3>
<ul>
  <li><a href="foundation.html">Mission statement</a></li>
  <li><a href="foundation.html#funding">Funding</a></li>
  <li><a href="foundation.html#members">Members</a></li>
</ul>
</div>

{{ content }}

<div id="footer">
  Copyright &copy; 2012, The F# Software Foundation.
  Web site is maintained by the F# community on <a href="https://github.com/fsharp/fsfoundation">GitHub</a>.
</div>
 
</div></div></div>
</body>
</html>
