<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <meta name="keywords" content="F#,FSharp,F# Programming">

      <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="/css/main.css">

      <script src="/js/vendor/modernizr-2.6.1.min.js"></script>
  </head>
  <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div class="navbar navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">F# Software Foundation</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/foundation.html">Foundation</a></li>
                            <li><a href="/testimonials/">Testimonials</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
          <div class="row" id="headerRow">
            <div class="span3">
              <a href="/index.html"><img src="/img/logo.png" id="logo" alt="F#. Part of the program." /></a>
            </div>
            <div class="span9">
              <h1>{{ page.headline }}</h1>
            </div>
          </div>
          <div class="row">
            <div class="span3 menu" id="leftMenu">
              <h4 class="first">About</h4>
              <ul>
                <li><a href="/about/index.html">About F#</a></li>
                <li><a href="/about/learning.html">Learning F#</a></li>
                <li><a href="http://fsharpforfunandprofit.com/">Development guide</a></li>
                <li><a href="/about/index.html#documentation">Documentation</a></li>
                <li><a href="/about/index.html#specification">Language spec</a></li>
                <li><a href="/testimonials/">Testimonials</a></li>
            </ul>
              <h4>Getting F#</h4>    
              <ul>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpMac">F# on Mac</a></li>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpLinux">F# on Linux</a></li>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpWindows">F# on Windows</a></li>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpAndroid">F# on Android</a> and <a href="http://fsxplat.codeplex.com/wikipage?title=FSharpIOS">iOS</a></li>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpJS">F# on JS/HTML5</a></li>
                <li><a href="http://fsxplat.codeplex.com/wikipage?title=FSharpGPU">F# on GPU</a></li>
              </ul>
              <h4>Community</h4>
              <ul>
                <li><a href="http://groups.google.com/group/fsharp-opensource">F# open source list</a></li>
                <li><a href="http://fpish.net/blogs/Some/1/f~23/0">News from F# blogs</a></li>
                <li><a href="https://github.com/fsharp/">GitHub</a> and <a href="http://www.codeplex.com/site/search?query=&sortBy=Relevance&tagName=%2cF%23%2c">CodePlex</a> projects</li>
                <li><a href="http://www.fssnip.net/">F# code snippets</a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/f%23">Ask on StackOverflow</a></li>
                <li><a href="http://twitter.com/#fsharp">Join Twitter conversations</a></li>
                <li><a href="http://en.irc2go.com/webchat/?net=freenode&room=%23fsharp">F# on IRC</a></li>
                <li>Join User Groups: <a href="http://www.meetup.com/Chicago-F-Users/">Chicago</a>,
                    <a href="http://www.meetup.com/FSharpHelsinki/">Helsinki</a>,
                    <a href="http://www.meetup.com/Houston-FSharp-User-Group/">Houston</a>,
                    <a href="http://www.meetup.com/FSharpLondon/">London</a>,
                    <a href="http://www.meetup.com/New-England-F-Users-Group/">New England</a>,
                    <a href="http://www.meetup.com/nyc-fsharp/">New York</a>,
                    <a href="http://c4fsharp.net/">Online</a>,
                    <a href="http://www.sfsharp.org/">San Francisco</a>,
                    <a href="http://www.meetup.com/FSharpSeattle/">Seattle</a>,
                    <a href="https://groups.google.com/group/functional-programming-sthlm/about/">Stockholm</a>,
                    <a href="http://www.meetup.com/zurich-fsharp-users/">Zurich</a>,
                    <a href="https://github.com/Nobuhisa/FSUG_JP/wiki">日本</a></li>     
                  </ul>
                </li>
              </ul>

              <h4>Teaching F#</h4>
              <ul>
                <li><a href="/teaching/index.html">Why teach F#</a></li>
                <li><a href="/teaching/index.html#video_lectures">Video lectures</a></li>
                <li><a href="/teaching/index.html#books_using_f">Books using F#</a></li>
                <li><a href="/teaching/index.html#lectures_and_course_material">Lecture materials</a></li>
                <li><a href="/teaching/research.html">Academic publications</a></li>
              </ul>

              <h4>Foundation</h4>
              <ul>
                <li><a href="/foundation.html">Mission statement</a></li>
                <li><a href="/foundation.html#funding">Funding</a></li>
                <li><a href="/foundation.html#members">Members</a></li>
              </ul>
              </div>
              <div class="span9">
                {{ content }}
              </div>
            </div>
          <div class="row">
            <div class="span12">
              <footer>
                <hr />
                <p>Copyright &copy; 2012, The F# Software Foundation. Web site is maintained by the <a href="https://github.com/fsharp/fsfoundation" target="_blank">F# community on GitHub.</a></p>
              </footer>
            </div>
          </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/plugins.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="/js/main.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35753329-2']);
  _gaq.push(['_setDomainName', 'fsharp.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
